{% extends 'main.html' %}

{% block content %}
    {% if page == 'login' %}
        <div>
            <form action="" method="post">
                {% csrf_token %}
                
                <input type="hidden" value="{{request.META.HTTP_REFERER}}" name="refer">

                <label>Username:</label>
                <input type="text" name="username" placeholder="Enter Username...">

                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter Password...">

                <input type="submit" value="Login">
            </form>


            <p>Haven't signed up yet?</p>
            <a href="{% url 'register' %}">Register</a>
        </div>
    
    {% else %}

        <div>
            <form action="" method="post">
                {% csrf_token %}

                {{ form.as_p }}
                
                <input type="submit" value="Register">
                <input type="hidden" value="{{request.META.HTTP_REFERER}}" name="refer">
            </form>

            <p>Already signed up yet?</p>
            <a href="{% url 'login' %}">Login</a>
        </div>
    {% endif %}

{% endblock content %}